@keyframes circle-in-hesitate {
    0% {
        clip-path: circle(0% at 50% 50%);
    }

    40% {
        clip-path: circle(20% at 50% 50%);
    }

    100% {
        clip-path: circle(125% at 50% 50%);
    }
}

[transition-style="in:circle:hesitate"] {
    position: relative;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}